body {
  font-family: "Work Sans",sans-serif, Helvetica-Light,HelveticaNeue-Light,Arial,Verdana,Roboto-Light,"游ゴシック Light","游ゴシック体",YuGothic,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif
}

$sp_small: 12px;
$sp_nomal: 14px;
$sp_large: 16px;
$sp_extra_large: 20px;

$pc_small: 14px;
$pc_nomal: 16px;
$pc_large: 18px;
$pc_extra_large: 34px;
