---
title: tomoya-tsuji | heatock
---

.work_detail
  .article_header
    .work_main_thumbnail
      = image_tag 'heatock/article_header.jpg'
    .work_text
      %h2
        heatock
      .work_desc
        ヒートショック防止プロダクト , Oct 2015
  .article_container.wh-980
    %p.paragraph.text.pd-30
      お風呂に入って体が温まったところから急に気温差のある脱衣場や他の部屋に移動したとき、ヒートショックが起こることがある。
      近年、交通事故よりも多いというヒートショックによる死亡事故。heatockは2つの場所にそれぞれ設置することで
      2箇所の気温差が危険値に達すると自動で温度差を安全な数値にまで戻してくれるプロダクトである。
      %br
      危険な値、安全な値になるとそれぞれ光と音でお知らせ。ずっと見ていなくても、忘れたころにふと気づかせてくれます。
    = image_tag 'heatock/1.jpg'
    = image_tag 'heatock/2.jpg'
    = image_tag 'heatock/3.jpg'
