---
title: tomoya-tsuji | Household Water Bag
---

.work_detail
  .article_header
    .work_main_thumbnail
      = image_tag 'water_bag/article_header.jpg'
    .work_text
      %h2
        Household Water Bag
      .work_desc
        つなげて使う、浸水対策のための新しい防災用具 , Oct 2014
  .article_container.wh-980
    %p.paragraph.text.pd-30
      これは、従来の土を入れて積み上げる土嚢（どのう）ではありません。水を入れ、室内でも屋外でも使える家庭用水嚢です。
      %br
      今後、地球温暖化や環境の変化により台風やゲリラ豪雨などの局所降雨が増えると予想されます。
      %br
      それと合わせて浸水の危機も高まります。
      浸水をはじめとする災害は一刻を争うもの。迅速な対応をするためにも、できるだけ自分で自助することが大切です。
      そこでこの水嚢は生まれました。
      簡単に、素早く、準備・設置ができる新しい防災用具の提案です。
    = image_tag 'water_bag/1.jpg'
    = image_tag 'water_bag/2.jpg'
    %h3 Prototype
    %p.paragraph.text.pd-30
      素材、つなげ方、設置までの手軽さなど複数のパターンをプロトタイプを作り検証。
    = image_tag 'water_bag/3.jpg'
