---
title: tomoya-tsuji | mybest
---

.work_detail
  .article_header
    .work_main_thumbnail
      = image_tag 'mybest/article_header.jpg'
    .work_text
      %h2
        mybest
      .work_desc
        service renewal of mybest, May 2017
  .article_container.wh-980
    %p.paragraph.text.pd-30
      2017年の5月にmybestは、商品比較メディアから、「人とモノをつなぐメディア」へと生まれ変わりました。私はリサーチからコンセプト、ロゴ、デザインガイドライン、インターフェース設計、プロトタイプ、フロント実装までの一連のクリエイティブを全て担当しました。商品を紹介するページでは文字のカーニングや行間などの細かなチューニングを行うことで、リニューアル前後で比較するとCTR3倍まで向上することができました。
    = image_tag 'mybest/1.jpg'
    %h3 CREDIT
    %p.paragraph.text
      Client: mybest
      %br
      Design&Front-end Development : Tomoya Tsuji
      %br
      System: Kazuma Suzuki
    %h3 LINK
    %p.paragraph.text
      = link_to 'https://my-best.com', 'https://my-best.com'
