---
title: contact to tomoya-tsuji
---

.about_container
  .wh-980
    %p.paragraph.text.jp_text
      仕事のご依頼・その他問い合わせなどは以下のメールアドレスまでお願いします。
      %br
      3日以内にはご返信致しますが、返信が届かない場合はお手数ですが、再度送信していただけると助かります。
    %p.paragraph.text.jp_text
      tomoya.tsuji.work[at]gmail.com
